.reservationPrice{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    flex-direction: row;
    align-items: center;
}

.reservationPrice p {
    color: rgb(168, 167, 167);
    font-weight: 500;
    font-size: 14px;
}

.reservationPrice div {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

.reservationPrice div span{
    font-weight: 500;
    font-size: 20px;
}

.reservationPrice__button button {
    cursor: pointer;
    font-weight: normal;
    border: 0;
    background-color: var(--third-color);
    color: white;
    font-size: 13px;
    padding: 5px 1px;
    border-radius: 50px;
    width: 100px;
}

#price__day{
    font-size: 11px;
    color: rgb(168, 167, 167);
    font-weight: 500;
}