.infoFooter{
    margin-top: 30px;
    margin-bottom: 50px;
}

.infoFooter h2{
    margin-left: 40px;
    color: var(--second-color);
}

.infoFooter__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.infoFooter__container div{
    display: flex;
    padding: 10px 30px;
}


.infoFooter__container div div{
    display: flex;
    flex-direction: column;
}

.infoFooter__container div div h3{
    color: var(--principal-color);
}

.infoFooter__container div div p{
    color: black;
}


.infoFooter__container div span{
    margin-top: 20px;
}


@media (min-width: 700px) {
    .infoFooter__container div div{
    width: 250px;
}
    .infoFooter__container div div h3{
        width: 250px;
    }
    .infoFooter__container div span{
        margin-top: 40px;
        padding-right: 10px;
    }
    .infoFooter__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .infoFooter__container div{
        width: 50%;
        justify-content: center;
        padding: 2px;
    }
}

@media (min-width: 1025px) {
    .infoFooter h2{
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .infoFooter__container {
        align-items: center;
    }
    .infoFooter__container{
        margin-bottom: 100px;
    }

    .infoFooter__container div{
        width: unset;
    }
    
    .infoFooter__container div div {
        justify-content: flex-start;
    }
    .infoFooter__container div div h3{
        height: 30px;
    }
    
}