@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
h4,
h5,
button {
  font-weight: bold;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5,
button,
p {
  font-size: 14px;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding: 0px;
  list-style-type: none;
  display: flex;
}

a {
  display: inline-block;
  text-decoration: none;
}
